DATABASE_URL=postgresql://postgres:pass123@db.example.com:5432/spacesilo?schema=public
FILES_PATH=/absolute/path/to/files
STORAGE_PATH=/absolute/path/to/storage
APPDATA_PATH=/absolute/path/to/appdata
WEB_PORT=80