@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css';

@import 'nativewind/theme';

@theme {
  --color-light: #fdfdfd;
  --color-dark: #131313;

  --color-primary: #ffc75f;
  --color-primary-dark: #d9c344;
  --color-primary-light: #f3dd65;

  --color-secondary: #4a90e2;
  --color-secondary-dark: #3f83d1;
  --color-secondary-light: #5aa0f7;

  --color-success: #7ed321;
  --color-success-dark: #6cc017;
  --color-success-light: #95e33a;

  --color-warning: #f5a623;
  --color-warning-dark: #d48e1f;
  --color-warning-light: #f8c94c;

  --color-danger: #ff5f5f;
  --color-danger-dark: #e04c4c;
  --color-danger-light: #ff7b7b;

  /* light */
  --color-content: var(--color-dark);
  --color-content-secondary: #222222;
  --color-content-tertiary: #464646;

  --color-layer: var(--color-light);
  --color-layer-secondary: #dcdcdc;
  --color-layer-tertiary: #b1b1b1;
}

:root {
  color-scheme: light;
}

:root.dark {
  /* dark */
  --color-content: var(--color-light);
  --color-content-secondary: #d2d1d1;
  --color-content-tertiary: #a0a0a0;

  --color-layer: var(--color-dark);
  --color-layer-secondary: #272727;
  --color-layer-tertiary: #424242;

  color-scheme: dark;
}
