@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css';

@import 'nativewind/theme';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #ffffff;
  --color-foreground: #0a0a0a;
  --color-card: #ffffff;
  --color-card-foreground: #0a0a0a;
  --color-popover: #ffffff;
  --color-popover-foreground: #0a0a0a;
  --color-primary: #ffc75f;
  --color-primary-foreground: #171717;
  --color-secondary: #f5f5f5;
  --color-secondary-foreground: #171717;
  --color-muted: #f5f5f5;
  --color-muted-foreground: #737373;
  --color-accent: #e6e6e6;
  --color-accent-foreground: #171717;
  --color-destructive: #ef4444;
  --color-border: #e5e5e5;
  --color-input: #e5e5e5;
  --color-ring: #a1a1a1;
  --radius: 0.625rem;
  --color-chart-1: #e76e50;
  --color-chart-2: #2a9d90;
  --color-chart-3: #274754;
  --color-chart-4: #e8c468;
  --color-chart-5: #f4a462;

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

:root {
  color-scheme: light;
}

:root.dark {
  --color-background: #0a0a0a;
  --color-foreground: #fafafa;
  --color-card: #0a0a0a;
  --color-card-foreground: #fafafa;
  --color-popover: #0a0a0a;
  --color-popover-foreground: #fafafa;
  --color-primary: #ffc14f;
  --color-primary-foreground: #171717;
  --color-secondary: #262626;
  --color-secondary-foreground: #fafafa;
  --color-muted: #262626;
  --color-muted-foreground: #a3a3a3;
  --color-accent: #454545;
  --color-accent-foreground: #fafafa;
  --color-destructive: #e14e4e;
  --color-border: #262626;
  --color-input: #262626;
  --color-ring: #737373;
  --color-chart-1: #2662d9;
  --color-chart-2: #2eb88a;
  --color-chart-3: #e88c30;
  --color-chart-4: #af57db;
  --color-chart-5: #e23670;

  color-scheme: dark;
}
