@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-blue: #4a90e2;
  --color-blue-dark: #3f83d1;
  --color-blue-light: #5aa0f7;

  --color-yellow: #ffc75f;
  --color-yellow-dark: #d8c038;
  --color-yellow-light: #f3dd65;

  --color-red: #ff5f5f;
  --color-red-dark: #e04c4c;
  --color-red-light: #ff7b7b;

  --color-primary: #ffc75f;
  --color-primary-dark: #d8c038;
  --color-primary-light: #f3dd65;

  --color-secondary: #4a90e2;
  --color-secondary-dark: #3f83d1;
  --color-secondary-light: #5aa0f7;

  /* light */
  --color-text: #0e0e0e;
  --color-text-secondary: #222222;
  --color-text-tertiary: #464646;
  --color-background: #fdfdfd;
  --color-background-secondary: #f7f7f7;
  --color-background-tertiary: #e5e5e5;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* dark */
    --color-text: #ffffff;
    --color-text-secondary: #d2d1d1;
    --color-text-tertiary: #a0a0a0;
    --color-background: #171717;
    --color-background-secondary: #272727;
    --color-background-tertiary: #424242;
  }
}
